@import "reset";

*{
    padding: 0%;
    margin: 0%;
    color: black;
    font-family: sans-serif;
    font-size: .9em;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-grow: 1;
}

header{
    display: flex;
    background-color: white;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid silver;
}
/*Configuração da logo M3 no menu*/
.cimglogo{
    position: absolute;
    left: 11%;
    padding: 15px;
}
/*Configuração do carrinho*/
.carrinho{
    position: absolute;
    display: flex;
    width: 25px;
    right: 10.3%;
    padding: 10px;
    top: 10px;
}
/*Configuração da quantidade de itens no carrinho*/
header>span{
    position: absolute;
    right: 11%;
    top: 32px;
    text-align: center;
    font-size: .9em;
    background-color: #00C0EE;
    width: 14px;
    height: 15px;
    border-radius: 50%;
    font-weight: bolder;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
}
/*Configuração do menu lateral de opções*/

/*Configuração dos títulos*/
.titulo{
    padding: 70px 0px 90px 20px;
    font-size: 1.8em;
}

.titulocores{
    padding-bottom: 10px;
}

.titulotamanhos{
    padding-bottom: 10px;
    padding-top: 12px;
}

.tituloprecos{
    padding-top: 12px;
    padding-bottom: 10px;
}
/*Configuração do menu lateral*/
.menulateral{
    position: absolute;
    left: 14.5%;
    background-color: transparent;
    width: 200px;
    padding-bottom: 30px;
}
.menulateral ul{
    list-style: none;
}
.menulateral ul li{
    line-height: 25px; 
}

.menulateral ul ul{
    display: none;
}
/*Configuração das cores*/
.vermaiscores.some{
    display: none;
}

.menulateral ul .maiscores.mostra{
    display: block;
}
/*Configuração dos tamanhos*/
.configfilttam{
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
}

.configfilttam li{
    padding-right: 6px;
}

.configfilttam li input{
    background-color: transparent;
    border-color: rgba(192, 192, 192, 0.623);
    border-style: 1px solid;
    width: 40px;
    height: 30px;
    cursor: pointer;
    // outline-color: aqua;
}


.configfilttam li input:hover{
    border-color: #00C0EE;
}

/*Configuração do menu de ordenar*/
.menuOrdenar{
    position: absolute;
    right: 20px;
    top: 80px;
}

.menuOrdenar ul{
    text-align: justify;
//    padding-bottom: 3px;
}

.menuOrdenar ul li{
    background-color: transparent;
    width: 130px;
    height: auto;
    list-style: none;
    border: 1px solid;
    padding-bottom: 5px;
}

.menuOrdenar ul li ul li{
    // width: 120px;
    display: block;
    border: none;
    background-color: transparent;
    padding: 10px 0px 5px 0px;
}
.menuOrdenar ul li a{
    text-decoration: none;
} 

.menuOrdenar ul li ul li:hover{
    background-color: #00C0EE;
}

.itensOrdenar{
    display: none;
} 
.menuOrdenar ul .itensOrdenar.mostra{
    display: block;
}

.ordenarMenuLateral{
    padding-bottom: 30px;
}
/*Configuração do design dos ícones*/
#spanMenuOrdenar{
    position: relative;
    top: 8px;
    left: 1px;
    font-size: 26px;
}

#spanVerMaisCores{
    position: relative;
    top: 7px;
    left: 4px;
    font-size: 28px;
}
/*Configuração dos botões de menu mobile*/
.asidemobile{
    display: none;

}

/*Configuração para menu acionados pelo mobile*/
.menumobilefilt{
    display: none;
}
/*Configuração do conteúdo principal*/
.conteudoprincipal{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: start;
    flex-direction: row;
    flex-grow: 1;
    background-color: transparent;
    max-width: 55%;
    min-width: 25%;
    height: auto;
    // position: absolute;
    // right: 130px;
    // top: 165px;
    padding-bottom: 200px;
   //transform: translate(50%, 50%);
   margin-left: 40%;
   margin-top: 12%;
}

.produtosDaPag{
    // border: 1px solid;
    text-align: center;
    padding: 10px;
}

.produtosDaPag .btnComprar{
    width: 195px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: white;
    margin-top: 5px;
    cursor: pointer;
}
/*Configuração do botão para carregar mais opções*/
.btnCarregarMais{
    background-color: rgba(0, 255, 255, 0.966);
    color: white;
    padding: 6px;
    font-weight: bold;
    border-color: aqua;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.418);
    position: absolute;
    bottom: 50px;
    right: 35%;
    transform: translate(50%, 0%);
   
}

.btnCarregarMais.carregarMaisProdutos{
    display: none;
}
.main.carregarMaisProdutos{
    min-height: 2300px;
}

.main.diminuirMainProsFiltros{
    min-height: 900px;
}

.main.retornarMainPadrao{
    min-height: 1700px;
}

/*Configuração do rodapé*/
.rodape{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
main{
    min-height: auto;
    position: relative;
 }

/*REPONSIVIDADE PARA MOBILE*/
@media (max-width:990px){
    .cimglogo{
        margin-left: 2%;
    }

    .carrinho{
        right: 2%;
    }

    header>span{
        right: 2.8%;
    }

    .menulateral{
        display: none;
    }

    .asidemobile{
        position: absolute;
        display: block;
        top: 100px;
        right: 50%;
        transform: translate(50%, 0%);
    }

    .asidemobile input{
        background-color: transparent;
        border-color: rgb(169, 169, 169);
        border-style: double;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }

    .asidemobile input:active{
        border-color: slategray;
    }
    .btnCarregarMais{
        display: none;
    }

    .menuOrdenar{
        display: none;
    }

    .conteudoprincipal{
        max-width: 100%;
        margin-left: 150px;
        margin-top: 140px;
    }

    /*Configuração para menu acionados pelo mobile*/
    .menumobilefilt{
        display: block;
        background-color: rgba(145, 145, 145, 0.699);
        padding: 20px;
        width: 100%;
        height: 100%;
        z-index: 10000;
        position: fixed;
    }
}

@media (max-width:720px){
    .conteudoprincipal{
        max-width: 80%;
        margin-left: 100px;
        margin-top: 140px;
    }
    .asidemobile input{
        width: 100px;
    }
}
@media (max-width:600px){
    .conteudoprincipal{
        max-width: 100%;
        margin-left: 50px;
        margin-top: 140px;
    }
    .asidemobile input{
        width: 100px;
    }
}

@media (max-width:490px){
    .conteudoprincipal{
        max-width: 100%;
        margin-left: 25%;
        margin-top: 150px;
    }

    .asidemobile input{
        width: 80px;
    }
}